autobahn
gunicorn
django-allauth==0.54.0
djangorestframework==3.14.0
django
google-cloud-storage
celery==5.2.0
daphne==4.0.0
PyJWT==2.8.0
pymongo==4.4.1
PyMySQL==1.1.0
redis==4.6.0
requests==2.31.0
selenium==4.10.0
pathlib
ruamel-yaml
markdown
channels
channels-redis
redis
sqlparse
google-cloud
Pillow
django-storages
djangorestframework
mysqlclient
